body{
    font-family: 'EB Garamond';
    font-size: 4em;
    background-image: url("assets/icons/fond_vertical.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
}

a{
    color: #fff;
    text-decoration: none;
}

#content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}


#title,#appstore, #playstore{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}

#logo,#appstore .icon, #playstore .icon{
    text-align: center;
}



@media (min-width: 200px) {
    body{
        font-size: 1.2em;
        margin : 0;
    }#content{
        width: 100%;
        margin-top: 0px;
        min-height: 100vh;
    }
    #logo img{
        max-width: 20%;
    }
    #appstore .icon img, #playstore .icon img{
        max-width: 25%;
    }
    #title,#appstore, #playstore{
        margin-bottom: 2em;
    }
}

@media (min-width: 540px) {
    body{
        font-size: 1.75em;
    }
    #logo img,#appstore .icon img, #playstore .icon img{
        max-width: 20%;
    }
}

@media (min-width: 768px) {
    body{
        font-size: 2em;
    }
    #logo img,#appstore .icon img, #playstore .icon img{
        max-width: 25%;
    }
 }

@media (min-width: 992px) { 

 }

@media (min-width: 1200px) { 

    #content{
        flex-wrap: wrap;
        margin-top: 150px;
        min-height: auto;
    }
    

    #content .container{
        display: contents;
    }
    #logo img{
        max-width: 10%;
    }
    #appstore .icon img, #playstore .icon img{
        max-width: 20%;
    }
    #title{
        font-size: 1.5em;
    }
    #logo, #title{
        width: 100%;
    }
    #appstore, #playstore{
        width:50%;
    }
    #title,#appstore, #playstore{
        margin-bottom: 1em;
    }
}

@media (min-width: 1400px) { 
 }